::root {
    --light-blue: rgba(119, 178, 227, 0.8);
    --light-grey: rgba(87, 95, 102, 0.8);
}

body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    background-color: #8abdd7;
}

.grid-container {
    display: grid;
    gap: 2rem 1rem;
    grid-template-columns: auto auto auto;
    padding: 10px;

    overflow: hidden;
}

.desc {
    text-align: center;
}

.grid-container img {
    width: 100%;
    height: auto;
}

.grid-item {
    background-color: #d8d8d8;
    border: 1px solid rgba(0,0,0,0.8);
    padding: 10px 10px;
    font-size: 16px;
    font-family: sans-serif;

    position: relative;
    overflow: hidden;
}
