body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    background-color: #8abdd7;
}

.grid-container {
    display: grid;
    gap: 2rem 1rem;
    grid-template-columns: auto auto auto;
    padding: 10px;

    overflow: hidden;
}

.desc {
    margin-top: 5px;
    padding: 0;
    text-align: center;
}

.grid-container img {
    width: 100%;
    height: auto;
}

.grid-item {
    background-color: #d8d8d8;
    border: 1px solid rgba(0,0,0,0.8);
    padding: 10px 10px;
    font-size: 18px;
    font-family: sans-serif;

    position: relative;
    overflow: hidden;
}

.title {
    font-size: 46px;
}
